--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T16%3A32%3A25-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A40%3A23Z&Version=2009-03-31&Signature=PWgKVRLU%2F5U3qSNQjbKVNJh563tLDnzA3yUxJMVag9o%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - d1a68a62-537f-11e1-94ec-03ff5ff5721a
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T00:40:13Z</CreationDateTime>
                <LastStateChangeReason>Provisioning Amazon EC2 capacity</LastStateChangeReason>
                <State>STARTING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; pig</Name>
              <Steps/>
              <JobFlowId>j-LYGPF7REF83Z</JobFlowId>
              <Instances>
                <Placement/>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-10T00:40:13Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-1I9CM2ON6EX6</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-10T00:40:13Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-Y6P0ZJ5PS43K</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T00:39:26Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-10T00:40:00Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps/>
              <JobFlowId>j-OWA17HFV8S8V</JobFlowId>
              <Instances>
                <Placement>
                  <AvailabilityZone>us-east-1a</AvailabilityZone>
                </Placement>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-10T00:39:26Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <Stat[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=TerminateJobFlows&JobFlowIds.member.1=j-LYGPF7REF83Z&JobFlowIds.member.2=j-OWA17HFV8S8V&JobFlowIds.member.3=j-27VVCJZOUUGHF&JobFlowIds.member.4=j-5OJ3R3OFB797&JobFlowIds.member.5=j-38YZ4VBB5Y2BK&JobFlowIds.member.6=j-2VTIG2HXR960E&JobFlowIds.member.7=j-34WJU2RWFB2P3&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A40%3A24Z&Version=2009-03-31&Signature=UEcM9aADRTKf%2Fxpaq%2BGgMigtSdFoPFNSQV0FIKaj0Is%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - d1f8a289-537f-11e1-8a8a-99617a480ceb
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>d1f8a289-537f-11e1-8a8a-99617a480ceb</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 00:40:24 GMT
[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=RunJobFlow&AmiVersion=2.0&Instances.InstanceGroups.member.1.InstanceCount=1&Instances.InstanceGroups.member.1.InstanceRole=MASTER&Instances.InstanceGroups.member.1.InstanceType=m1.small&Instances.InstanceGroups.member.1.Market=ON_DEMAND&Instances.InstanceGroups.member.1.Name=Master%20group&Instances.InstanceGroups.member.2.InstanceCount=1&Instances.InstanceGroups.member.2.InstanceRole=CORE&Instances.InstanceGroups.member.2.InstanceType=c1.medium&Instances.InstanceGroups.member.2.Market=ON_DEMAND&Instances.InstanceGroups.member.2.Name=Compute%20group&Instances.KeepJobFlowAliveWhenNoSteps=true&Instances.TerminationProtected=false&Name=Managed%20Buzzoink%20process%20%3A%20Main%20EMR%20process%20type%20%3D%3E%20hive&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A40%3A25Z&Version=2009-03-31&Signature=rBE5Ek%2Fr8hXDtGIw9WtHmWiU%2FTnL2LZc3KtxfoyTcJM%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - d28af77d-537f-11e1-8a32-d3fa11c85c80
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-UOB7G269XYIN</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>d28af77d-537f-11e1-8a32-d3fa11c85c80</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Fri, 10 Feb 2012 00:40:25 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=AddJobFlowSteps&JobFlowId=j-UOB7G269XYIN&SignatureMethod=HmacSHA256&SignatureVersion=2&Steps.member.1.ActionOnFailure=TERMINATE_JOB_FLOW&Steps.member.1.HadoopJarStep.Args.member.1=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2Fhive-script&Steps.member.1.HadoopJarStep.Args.member.2=--base-path&Steps.member.1.HadoopJarStep.Args.member.3=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2F&Steps.member.1.HadoopJarStep.Args.member.4=--install-hive&Steps.member.1.HadoopJarStep.Args.member.5=--hive-versions&Steps.member.1.HadoopJarStep.Args.member.6=0.7.1.1&Steps.member.1.HadoopJarStep.Jar=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fscript-runner%2Fscript-runner.jar&Steps.member.1.Name=Hive&Timestamp=2012-02-10T00%3A40%3A25Z&Version=2009-03-31&Signature=u0FXZnbbvPVSndFXOT%2F55aEfiINQfV95h3G7guF%2F5M0%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - d2cdf3ec-537f-11e1-8a8a-99617a480ceb
      Content-Type: 
      - text/xml
    body: |
      <AddJobFlowStepsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>d2cdf3ec-537f-11e1-8a8a-99617a480ceb</RequestId>
        </ResponseMetadata>
      </AddJobFlowStepsResponse>

  recorded_at: Fri, 10 Feb 2012 00:40:26 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&JobFlowIds.member.1=j-UOB7G269XYIN&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A40%3A26Z&Version=2009-03-31&Signature=XDjCkCHWIIIkRKO9KAvtCWujw80%2Ffwu%2F%2F9x4h1IKmLw%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - d30cd1ad-537f-11e1-8a8a-99617a480ceb
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T00:40:25Z</CreationDateTime>
                <State>STARTING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps>
                <member>
                  <StepConfig>
                    <HadoopJarStep>
                      <Jar>s3://elasticmapreduce/libs/script-runner/script-runner.jar</Jar>
                      <Args>
                        <member>s3://elasticmapreduce/libs/hive/hive-script</member>
                        <member>--base-path</member>
                        <member>s3://elasticmapreduce/libs/hive/</member>
                        <member>--install-hive</member>
                        <member>--hive-versions</member>
                        <member>0.7.1.1</member>
                      </Args>
                      <Properties/>
                    </HadoopJarStep>
                    <Name>Hive</Name>
                    <ActionOnFailure>TERMINATE_JOB_FLOW</ActionOnFailure>
                  </StepConfig>
                  <ExecutionStatusDetail>
                    <CreationDateTime>2012-02-10T00:40:26Z</CreationDateTime>
                    <State>PENDING</State>
                  </ExecutionStatusDetail>
                </member>
              </Steps>
              <JobFlowId>j-UOB7G269XYIN</JobFlowId>
              <Instances>
                <Placement/>
                <MasterInstanceType>m1.small</MasterInstanceType>
   [...]
