--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T16%3A32%3A25-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A37%3A35Z&Version=2009-03-31&Signature=of1DWN1rMNShM%2FCbRFBWVGUCqTuylBUIPwYh6zFChMc%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 6d986072-537f-11e1-94ec-03ff5ff5721a
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows/>
        </DescribeJobFlowsResult>
        <ResponseMetadata>
          <RequestId>6d986072-537f-11e1-94ec-03ff5ff5721a</RequestId>
        </ResponseMetadata>
      </DescribeJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 00:37:36 GMT
recorded_with: VCR 2.0.0.rc1
