--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T13%3A45%3A18-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T22%3A45%3A38Z&Version=2009-03-31&Signature=VmYV%2B7zCjra01DIAWm7%2F7lyTZg196xbDmEcZhF8dPCo%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - c9edde28-536f-11e1-b549-039ed8bc19ac
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T22:45:17Z</CreationDateTime>
                <LastStateChangeReason>Provisioning Amazon EC2 capacity</LastStateChangeReason>
                <State>STARTING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps/>
              <JobFlowId>j-2TL0UEBI84TX9</JobFlowId>
              <Instances>
                <Placement/>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-09T22:45:17Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-21SIIAXU5VPQS</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-09T22:45:17Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-3DDWF4RBFTO9A</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T22:44:33Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-09T22:45:02Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps/>
              <JobFlowId>j-311CJVL89SOML</JobFlowId>
              <Instances>
                <Placement>
                  <AvailabilityZone>us-east-1a</AvailabilityZone>
                </Placement>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-09T22:44:33Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <Stat[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=TerminateJobFlows&JobFlowIds.member.1=j-2TL0UEBI84TX9&JobFlowIds.member.10=j-2Q2MS6QLZIKQP&JobFlowIds.member.11=j-3I4UN0ODJHS2E&JobFlowIds.member.12=j-3V1OLO6IPXBAE&JobFlowIds.member.13=j-2MHSJYX6R7S3F&JobFlowIds.member.14=j-2PV2OSAD3W13A&JobFlowIds.member.15=j-2NZAO97NQE916&JobFlowIds.member.16=j-MT46IOXFB08Z&JobFlowIds.member.17=j-1IKV5LIE3SW1V&JobFlowIds.member.18=j-K5IJYIJ600OP&JobFlowIds.member.19=j-3H0E60IQFX3O2&JobFlowIds.member.2=j-311CJVL89SOML&JobFlowIds.member.20=j-1685H2ITZSJRP&JobFlowIds.member.3=j-1CVPRJ2G19X9P&JobFlowIds.member.4=j-FSDLZD791ZAG&JobFlowIds.member.5=j-3VMWTLFEHMILD&JobFlowIds.member.6=j-VEWF5KEPZGWV&JobFlowIds.member.7=j-3MT4YCE71IF3S&JobFlowIds.member.8=j-1F8GT4ECAHC1V&JobFlowIds.member.9=j-3577G0GKVQH4L&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T22%3A45%3A39Z&Version=2009-03-31&Signature=bTabgNaHugSZZHanCpXpPsKoyE1DLdYzBK2IdTuqJ3I%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - ca41f1bd-536f-11e1-99ba-e50ccb143c32
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>ca41f1bd-536f-11e1-99ba-e50ccb143c32</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Thu, 09 Feb 2012 22:45:39 GMT
recorded_with: VCR 2.0.0.rc1
