--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T13%3A43%3A04-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T22%3A43%3A25Z&Version=2009-03-31&Signature=8k4YinQ2izkYdLoToUi8Tx76fzXGgbxaQNxsf5PqLJg%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 7a157f7f-536f-11e1-aa42-8f951ce45bb7
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T22:42:52Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-09T22:43:02Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps/>
              <JobFlowId>j-FSDLZD791ZAG</JobFlowId>
              <Instances>
                <Placement/>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-09T22:42:52Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>ENDED</State>
                    <EndDateTime>2012-02-09T22:43:02Z</EndDateTime>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason>Job flow terminated</LastStateChangeReason>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-1PSLMEEZ6ZUIU</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-09T22:42:52Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>ENDED</State>
                    <EndDateTime>2012-02-09T22:43:02Z</EndDateTime>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason>Job flow terminated</LastStateChangeReason>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-3BM6N6XG84HME</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T22:29:33Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <StartDateTime>2012-02-09T22:33:52Z</StartDateTime>
                <ReadyDateTime>2012-02-09T22:33:52Z</ReadyDateTime>
                <State>SHUTTING_DOWN</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps/>
              <JobFlowId>j-3VMWTLFEHMILD</JobFlowId>
              <Instances>
                <Placement>
                  <AvailabilityZone>us-east-1a</AvailabilityZone>
                </Placement>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-09T22:29:33Z</CreationDateTime>
                    <InstanceRunningCount>1</InstanceRunningCount>
                    <Star[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=TerminateJobFlows&JobFlowIds.member.1=j-FSDLZD791ZAG&JobFlowIds.member.10=j-2MHSJYX6R7S3F&JobFlowIds.member.11=j-2PV2OSAD3W13A&JobFlowIds.member.12=j-2NZAO97NQE916&JobFlowIds.member.13=j-MT46IOXFB08Z&JobFlowIds.member.14=j-1IKV5LIE3SW1V&JobFlowIds.member.15=j-K5IJYIJ600OP&JobFlowIds.member.16=j-3H0E60IQFX3O2&JobFlowIds.member.17=j-1685H2ITZSJRP&JobFlowIds.member.2=j-3VMWTLFEHMILD&JobFlowIds.member.3=j-VEWF5KEPZGWV&JobFlowIds.member.4=j-3MT4YCE71IF3S&JobFlowIds.member.5=j-1F8GT4ECAHC1V&JobFlowIds.member.6=j-3577G0GKVQH4L&JobFlowIds.member.7=j-2Q2MS6QLZIKQP&JobFlowIds.member.8=j-3I4UN0ODJHS2E&JobFlowIds.member.9=j-3V1OLO6IPXBAE&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T22%3A43%3A25Z&Version=2009-03-31&Signature=3p6btsHNbzxc%2B3du7GTBtYkNsuC0OL0rVihBJGkT3NM%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 7a6af301-536f-11e1-82e8-7d6d389b2e5f
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>7a6af301-536f-11e1-82e8-7d6d389b2e5f</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Thu, 09 Feb 2012 22:43:26 GMT
recorded_with: VCR 2.0.0.rc1
