--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=AKIAJTRVHA3SHWHP6HSA&Action=DescribeJobFlows&CreatedAfter=2012-02-08&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T16%3A36%3A28Z&Version=2009-03-31&Signature=2Frekh7OQUrvjZWr2LT5X9FQl1%2FKYkZNx0uR6agQ%2BlU%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 378c736e-533c-11e1-8a32-d3fa11c85c80
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T15:01:34Z</CreationDateTime>
                <LastStateChangeReason>Waiting for steps to run</LastStateChangeReason>
                <StartDateTime>2012-02-09T15:07:28Z</StartDateTime>
                <ReadyDateTime>2012-02-09T15:07:28Z</ReadyDateTime>
                <State>WAITING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process</Name>
              <Steps/>
              <JobFlowId>j-U9XHH0D4PG4J</JobFlowId>
              <Instances>
                <Placement>
                  <AvailabilityZone>us-east-1a</AvailabilityZone>
                </Placement>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-09T15:01:34Z</CreationDateTime>
                    <InstanceRunningCount>1</InstanceRunningCount>
                    <StartDateTime>2012-02-09T15:06:04Z</StartDateTime>
                    <ReadyDateTime>2012-02-09T15:07:26Z</ReadyDateTime>
                    <State>RUNNING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-2X75JB3JR6EIR</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-09T15:01:34Z</CreationDateTime>
                    <InstanceRunningCount>1</InstanceRunningCount>
                    <StartDateTime>2012-02-09T15:07:28Z</StartDateTime>
                    <ReadyDateTime>2012-02-09T15:07:28Z</ReadyDateTime>
                    <State>RUNNING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-1I6X4RGYA2TJQ</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <MasterInstanceId>i-2d365148</MasterInstanceId>
                <NormalizedInstanceHours>6</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <MasterPublicDnsName>ec2-107-22-76-69.compute-1.amazonaws.com</MasterPublicDnsName>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T14:59:41Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-09T15:01:37Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process</Name>
              <Steps/>
              <JobFlowId>j-2NXJVCIXF6ON8</JobFlowId>
              <Instances>
                <Placement>
                  <AvailabilityZone>us-east-1a</AvailabilityZone>
                </Placement>
                <M[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=AKIAJTRVHA3SHWHP6HSA&Action=TerminateJobFlows&JobFlowIds.member.1=j-U9XHH0D4PG4J&JobFlowIds.member.10=j-1Q4QPTZIRGSQ3&JobFlowIds.member.11=j-3N3IVQHY1W60H&JobFlowIds.member.12=j-1R8XFQJDLYK0N&JobFlowIds.member.13=j-261LR3SONJI3W&JobFlowIds.member.14=j-13Y487GXRY1DB&JobFlowIds.member.15=j-29697T5RSZ2HG&JobFlowIds.member.16=j-7QIUA6NEQZIC&JobFlowIds.member.17=j-LYVF8Z02YK0I&JobFlowIds.member.18=j-3O3SM4VD6NPJ4&JobFlowIds.member.19=j-1JKZF729VYWT1&JobFlowIds.member.2=j-2NXJVCIXF6ON8&JobFlowIds.member.20=j-S8RJHN4V3636&JobFlowIds.member.21=j-3CP2ZVCUFLTH9&JobFlowIds.member.22=j-2HEP587JSV62P&JobFlowIds.member.3=j-1D9ZOYSUP10DG&JobFlowIds.member.4=j-S4UF0GYL56VB&JobFlowIds.member.5=j-1EF9KJM8NQG0X&JobFlowIds.member.6=j-167ER6Z3FTZR5&JobFlowIds.member.7=j-2U9KCV14UO202&JobFlowIds.member.8=j-15PNLCBK62P6&JobFlowIds.member.9=j-7CQQMWO8XJF8&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T16%3A36%3A30Z&Version=2009-03-31&Signature=%2BSAZTmtaihJZLeTcP78TyfpwE7hl5GRar1MK1HKd4l8%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 3835fa28-533c-11e1-94ec-03ff5ff5721a
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>3835fa28-533c-11e1-94ec-03ff5ff5721a</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Thu, 09 Feb 2012 16:36:30 GMT
[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=AKIAJTRVHA3SHWHP6HSA&Action=RunJobFlow&AmiVersion=2.0&Instances.InstanceGroups.member.1.InstanceCount=1&Instances.InstanceGroups.member.1.InstanceRole=MASTER&Instances.InstanceGroups.member.1.InstanceType=m1.small&Instances.InstanceGroups.member.1.Market=ON_DEMAND&Instances.InstanceGroups.member.1.Name=Master%20group&Instances.InstanceGroups.member.2.InstanceCount=1&Instances.InstanceGroups.member.2.InstanceRole=CORE&Instances.InstanceGroups.member.2.InstanceType=c1.medium&Instances.InstanceGroups.member.2.Market=ON_DEMAND&Instances.InstanceGroups.member.2.Name=Compute%20group&Instances.KeepJobFlowAliveWhenNoSteps=true&Instances.TerminationProtected=false&Name=Managed%20Buzzoink%20process%20%3A%20Main%20EMR%20process&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T16%3A36%3A31Z&Version=2009-03-31&Signature=Ev2bBEUnttGd9jpV5YJIOAealsaCgDAhzmNReE%2FdVhg%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 38f79c36-533c-11e1-8a32-d3fa11c85c80
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-1ZO2582ELCLO9</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>38f79c36-533c-11e1-8a32-d3fa11c85c80</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Thu, 09 Feb 2012 16:36:31 GMT
recorded_with: VCR 2.0.0.rc1
