--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T16%3A32%3A25-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A38%3A11Z&Version=2009-03-31&Signature=sF%2BOzTjOzAKztCfpIJZiWmY%2BATp04xU%2FQdxXm2jzbD4%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 82af16a6-537f-11e1-99ba-e50ccb143c32
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T00:37:47Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-10T00:38:05Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps>
                <member>
                  <StepConfig>
                    <HadoopJarStep>
                      <Jar>s3://elasticmapreduce/libs/script-runner/script-runner.jar</Jar>
                      <Args>
                        <member>s3://elasticmapreduce/libs/hive/hive-script</member>
                        <member>--base-path</member>
                        <member>s3://elasticmapreduce/libs/hive/</member>
                        <member>--install-hive</member>
                        <member>--hive-versions</member>
                        <member>0.7.1.1</member>
                      </Args>
                      <Properties/>
                    </HadoopJarStep>
                    <Name>Hive</Name>
                    <ActionOnFailure>TERMINATE_JOB_FLOW</ActionOnFailure>
                  </StepConfig>
                  <ExecutionStatusDetail>
                    <CreationDateTime>2012-02-10T00:37:48Z</CreationDateTime>
                    <LastStateChangeReason>Job terminated</LastStateChangeReason>
                    <State>CANCELLED</State>
                  </ExecutionStatusDetail>
                </member>
              </Steps>
              <JobFlowId>j-34WJU2RWFB2P3</JobFlowId>
              <Instances>
                <Placement/>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-10T00:37:47Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>ENDED</State>
                    <EndDateTime>2012-02-10T00:38:05Z</EndDateTime>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason>Job flow terminated</LastStateChangeReason>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-1KSU427IMN4K</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-10T00:37:47Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>ENDED</State>
                    <EndDateTime>2012-02-10T00:38:05Z</EndDateTime>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason>Job flow terminated</LastStateChangeReason>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-3GLH2X57LCE1X</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
          </JobFlows>
        </DescribeJobFlowsResult>
        <ResponseMetadata>
          <RequestId>82af16a6-537f-11e1-99ba-e50ccb143c32</RequestId>
        </ResponseMetadata>
      </DescribeJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 00:38:11 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=TerminateJobFlows&JobFlowIds.member.1=j-34WJU2RWFB2P3&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A38%3A11Z&Version=2009-03-31&Signature=A1KS3YnuMzXlUiBWRD5j0ir4tHDc1XfzkHfUf4fiwvw%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 82f4f891-537f-11e1-b549-039ed8bc19ac
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>82f4f891-537f-11e1-b549-039ed8bc19ac</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 00:38:12 GMT
[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=RunJobFlow&AmiVersion=2.0&Instances.InstanceGroups.member.1.InstanceCount=1&Instances.InstanceGroups.member.1.InstanceRole=MASTER&Instances.InstanceGroups.member.1.InstanceType=m1.small&Instances.InstanceGroups.member.1.Market=ON_DEMAND&Instances.InstanceGroups.member.1.Name=Master%20group&Instances.InstanceGroups.member.2.InstanceCount=1&Instances.InstanceGroups.member.2.InstanceRole=CORE&Instances.InstanceGroups.member.2.InstanceType=c1.medium&Instances.InstanceGroups.member.2.Market=ON_DEMAND&Instances.InstanceGroups.member.2.Name=Compute%20group&Instances.KeepJobFlowAliveWhenNoSteps=true&Instances.TerminationProtected=false&Name=Managed%20Buzzoink%20process%20%3A%20Main%20EMR%20process%20type%20%3D%3E%20hive&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A38%3A12Z&Version=2009-03-31&Signature=U0xrccMwlmKpaHQ4DXxE9%2Bkww9PDrmtYtI85bl1ZXZ0%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 8382e10b-537f-11e1-ac94-ab20a8a438ef
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-2VTIG2HXR960E</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>8382e10b-537f-11e1-ac94-ab20a8a438ef</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Fri, 10 Feb 2012 00:38:13 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=AddJobFlowSteps&JobFlowId=j-2VTIG2HXR960E&SignatureMethod=HmacSHA256&SignatureVersion=2&Steps.member.1.ActionOnFailure=TERMINATE_JOB_FLOW&Steps.member.1.HadoopJarStep.Args.member.1=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2Fhive-script&Steps.member.1.HadoopJarStep.Args.member.2=--base-path&Steps.member.1.HadoopJarStep.Args.member.3=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2F&Steps.member.1.HadoopJarStep.Args.member.4=--install-hive&Steps.member.1.HadoopJarStep.Args.member.5=--hive-versions&Steps.member.1.HadoopJarStep.Args.member.6=0.7.1.1&Steps.member.1.HadoopJarStep.Jar=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fscript-runner%2Fscript-runner.jar&Steps.member.1.Name=Hive&Timestamp=2012-02-10T00%3A38%3A13Z&Version=2009-03-31&Signature=pClKZjKdnu%2Ftn58KS1YJRv9zZOYMddoRirkA0GnA61g%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 83cb0d48-537f-11e1-b549-039ed8bc19ac
      Content-Type: 
      - text/xml
    body: |
      <AddJobFlowStepsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>83cb0d48-537f-11e1-b549-039ed8bc19ac</RequestId>
        </ResponseMetadata>
      </AddJobFlowStepsResponse>

  recorded_at: Fri, 10 Feb 2012 00:38:13 GMT
[...]
