--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T16%3A38%3A46-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A45%3A06Z&Version=2009-03-31&Signature=X5Dg%2FsQodVFy0CuSWtlUOpCRhkFK67ALnig3YVRP9Tc%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 7a14ac9e-5380-11e1-99ba-e50ccb143c32
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T00:40:38Z</CreationDateTime>
                <LastStateChangeReason>Configuring cluster software</LastStateChangeReason>
                <State>STARTING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; pig</Name>
              <Steps>
                <member>
                  <StepConfig>
                    <HadoopJarStep>
                      <Jar>s3://elasticmapreduce/libs/script-runner/script-runner.jar</Jar>
                      <Args>
                        <member>s3://elasticmapreduce/libs/pig/pig-script</member>
                        <member>--base-path</member>
                        <member>s3://elasticmapreduce/libs/pig/</member>
                        <member>--install-pig</member>
                      </Args>
                      <Properties/>
                    </HadoopJarStep>
                    <Name>Pig</Name>
                    <ActionOnFailure>TERMINATE_JOB_FLOW</ActionOnFailure>
                  </StepConfig>
                  <ExecutionStatusDetail>
                    <CreationDateTime>2012-02-10T00:40:38Z</CreationDateTime>
                    <State>PENDING</State>
                  </ExecutionStatusDetail>
                </member>
              </Steps>
              <JobFlowId>j-18NGS0X75MXZS</JobFlowId>
              <Instances>
                <Placement>
                  <AvailabilityZone>us-east-1a</AvailabilityZone>
                </Placement>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-10T00:40:38Z</CreationDateTime>
                    <InstanceRunningCount>1</InstanceRunningCount>
                    <StartDateTime>2012-02-10T00:44:05Z</StartDateTime>
                    <ReadyDateTime>2012-02-10T00:45:04Z</ReadyDateTime>
                    <State>RUNNING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-155RWTO3KL7M9</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-10T00:40:38Z</CreationDateTime>
                    <InstanceRunningCount>1</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-HLAKHVTSH7NH</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <MasterInstanceId>i-516e0e34</MasterInstanceId>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <MasterPublicDnsName>ec2-107-22-153-152.compute-1.amazonaws.com</MasterPublicDnsName>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T00:40:25Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-10T00:40:44Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps>
                <member>
                  <StepConfig>
                    <HadoopJarStep>
                      <Jar>s3://elasticmapreduce/libs/script-runner/script-runner.jar</Jar>
                     [...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=TerminateJobFlows&JobFlowIds.member.1=j-18NGS0X75MXZS&JobFlowIds.member.2=j-UOB7G269XYIN&JobFlowIds.member.3=j-LYGPF7REF83Z&JobFlowIds.member.4=j-OWA17HFV8S8V&JobFlowIds.member.5=j-27VVCJZOUUGHF&JobFlowIds.member.6=j-5OJ3R3OFB797&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A45%3A06Z&Version=2009-03-31&Signature=AiQWNowwGMNsZWTEWM4hboh0RvpUqN0HuHlCI6N1RMw%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 7a63b6ff-5380-11e1-99ba-e50ccb143c32
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>7a63b6ff-5380-11e1-99ba-e50ccb143c32</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 00:45:07 GMT
[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=RunJobFlow&AmiVersion=2.0&Instances.InstanceGroups.member.1.InstanceCount=1&Instances.InstanceGroups.member.1.InstanceRole=MASTER&Instances.InstanceGroups.member.1.InstanceType=m1.small&Instances.InstanceGroups.member.1.Market=ON_DEMAND&Instances.InstanceGroups.member.1.Name=Master%20group&Instances.InstanceGroups.member.2.InstanceCount=1&Instances.InstanceGroups.member.2.InstanceRole=CORE&Instances.InstanceGroups.member.2.InstanceType=c1.medium&Instances.InstanceGroups.member.2.Market=ON_DEMAND&Instances.InstanceGroups.member.2.Name=Compute%20group&Instances.KeepJobFlowAliveWhenNoSteps=true&Instances.TerminationProtected=false&Name=Managed%20Buzzoink%20process%20%3A%20Main%20EMR%20process%20type%20%3D%3E%20hive&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A45%3A07Z&Version=2009-03-31&Signature=drOHTQSUM7YR1CwWq%2BhISPcUJxJyEAJut2tnp2Tg1jw%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 7aef7cd6-5380-11e1-ac94-ab20a8a438ef
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-11T067BU2TFG6</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>7aef7cd6-5380-11e1-ac94-ab20a8a438ef</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Fri, 10 Feb 2012 00:45:08 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=AddJobFlowSteps&JobFlowId=j-11T067BU2TFG6&SignatureMethod=HmacSHA256&SignatureVersion=2&Steps.member.1.ActionOnFailure=TERMINATE_JOB_FLOW&Steps.member.1.HadoopJarStep.Args.member.1=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2Fhive-script&Steps.member.1.HadoopJarStep.Args.member.2=--base-path&Steps.member.1.HadoopJarStep.Args.member.3=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2F&Steps.member.1.HadoopJarStep.Args.member.4=--install-hive&Steps.member.1.HadoopJarStep.Args.member.5=--hive-versions&Steps.member.1.HadoopJarStep.Args.member.6=0.7.1.1&Steps.member.1.HadoopJarStep.Jar=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fscript-runner%2Fscript-runner.jar&Steps.member.1.Name=Hive&Timestamp=2012-02-10T00%3A45%3A08Z&Version=2009-03-31&Signature=GGsn%2FEgKHdzybMIF0fP8%2BRcu73ZML7VWrE8hC8104eo%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 7b2f6b75-5380-11e1-99ba-e50ccb143c32
      Content-Type: 
      - text/xml
    body: |
      <AddJobFlowStepsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>7b2f6b75-5380-11e1-99ba-e50ccb143c32</RequestId>
        </ResponseMetadata>
      </AddJobFlowStepsResponse>

  recorded_at: Fri, 10 Feb 2012 00:45:08 GMT
[...]
