--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T16%3A38%3A46-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A45%3A32Z&Version=2009-03-31&Signature=Ywi3%2FSOa05dBh%2BNuy7uCYqCS0leT6g0PT6U%2FeD%2BgLSQ%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 89879a17-5380-11e1-b549-039ed8bc19ac
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T00:45:20Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-10T00:45:30Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps>
                <member>
                  <StepConfig>
                    <HadoopJarStep>
                      <Jar>s3://elasticmapreduce/libs/script-runner/script-runner.jar</Jar>
                      <Args>
                        <member>s3://elasticmapreduce/libs/hive/hive-script</member>
                        <member>--base-path</member>
                        <member>s3://elasticmapreduce/libs/hive/</member>
                        <member>--install-hive</member>
                        <member>--hive-versions</member>
                        <member>0.7.1.1</member>
                      </Args>
                      <Properties/>
                    </HadoopJarStep>
                    <Name>Hive</Name>
                    <ActionOnFailure>TERMINATE_JOB_FLOW</ActionOnFailure>
                  </StepConfig>
                  <ExecutionStatusDetail>
                    <CreationDateTime>2012-02-10T00:45:21Z</CreationDateTime>
                    <LastStateChangeReason>Job terminated</LastStateChangeReason>
                    <State>CANCELLED</State>
                  </ExecutionStatusDetail>
                </member>
              </Steps>
              <JobFlowId>j-UDMWANLLGN6W</JobFlowId>
              <Instances>
                <Placement/>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-10T00:45:20Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>ENDED</State>
                    <EndDateTime>2012-02-10T00:45:30Z</EndDateTime>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason>Job flow terminated</LastStateChangeReason>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-3JJ35TJDAKVDW</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-10T00:45:20Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>ENDED</State>
                    <EndDateTime>2012-02-10T00:45:30Z</EndDateTime>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason>Job flow terminated</LastStateChangeReason>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-3VNKOT7MGHVS5</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T00:45:08Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-10T00:45:27Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
           [...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=TerminateJobFlows&JobFlowIds.member.1=j-UDMWANLLGN6W&JobFlowIds.member.2=j-11T067BU2TFG6&JobFlowIds.member.3=j-18NGS0X75MXZS&JobFlowIds.member.4=j-UOB7G269XYIN&JobFlowIds.member.5=j-LYGPF7REF83Z&JobFlowIds.member.6=j-OWA17HFV8S8V&JobFlowIds.member.7=j-27VVCJZOUUGHF&JobFlowIds.member.8=j-5OJ3R3OFB797&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A45%3A32Z&Version=2009-03-31&Signature=%2BnSr6SBhj9clApEfORVI%2B7kvlAb%2FZBP%2Bvy0G%2FRDlJ2E%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 89d5925f-5380-11e1-ac94-ab20a8a438ef
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>89d5925f-5380-11e1-ac94-ab20a8a438ef</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 00:45:33 GMT
[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=RunJobFlow&AmiVersion=2.0&Instances.InstanceGroups.member.1.InstanceCount=1&Instances.InstanceGroups.member.1.InstanceRole=MASTER&Instances.InstanceGroups.member.1.InstanceType=m1.small&Instances.InstanceGroups.member.1.Market=ON_DEMAND&Instances.InstanceGroups.member.1.Name=Master%20group&Instances.InstanceGroups.member.2.InstanceCount=1&Instances.InstanceGroups.member.2.InstanceRole=CORE&Instances.InstanceGroups.member.2.InstanceType=c1.medium&Instances.InstanceGroups.member.2.Market=ON_DEMAND&Instances.InstanceGroups.member.2.Name=Compute%20group&Instances.KeepJobFlowAliveWhenNoSteps=true&Instances.TerminationProtected=false&Name=Managed%20Buzzoink%20process%20%3A%20Main%20EMR%20process%20type%20%3D%3E%20hive&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A45%3A33Z&Version=2009-03-31&Signature=iUTMbz8uF300ayO2BnED%2BgbvzikqYL80KHNV1xpjkBs%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 8a5f8344-5380-11e1-99ba-e50ccb143c32
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-3E9LGD9EGRWX2</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>8a5f8344-5380-11e1-99ba-e50ccb143c32</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Fri, 10 Feb 2012 00:45:34 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=AddJobFlowSteps&JobFlowId=j-3E9LGD9EGRWX2&SignatureMethod=HmacSHA256&SignatureVersion=2&Steps.member.1.ActionOnFailure=TERMINATE_JOB_FLOW&Steps.member.1.HadoopJarStep.Args.member.1=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2Fhive-script&Steps.member.1.HadoopJarStep.Args.member.2=--base-path&Steps.member.1.HadoopJarStep.Args.member.3=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2F&Steps.member.1.HadoopJarStep.Args.member.4=--install-hive&Steps.member.1.HadoopJarStep.Args.member.5=--hive-versions&Steps.member.1.HadoopJarStep.Args.member.6=0.7.1.1&Steps.member.1.HadoopJarStep.Jar=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fscript-runner%2Fscript-runner.jar&Steps.member.1.Name=Hive&Timestamp=2012-02-10T00%3A45%3A34Z&Version=2009-03-31&Signature=TNbqBBvyj2Z3PJs3pXN7V13PyvVRvTU0FsrX7daCS%2B8%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 8aa6026b-5380-11e1-b549-039ed8bc19ac
      Content-Type: 
      - text/xml
    body: |
      <AddJobFlowStepsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>8aa6026b-5380-11e1-b549-039ed8bc19ac</RequestId>
        </ResponseMetadata>
      </AddJobFlowStepsResponse>

  recorded_at: Fri, 10 Feb 2012 00:45:34 GMT
[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=TerminateJobFlows&JobFlowIds.member.1=j-3E9LGD9EGRWX2&JobFlowIds.member.2=j-UDMWANLLGN6W&JobFlowIds.member.3=j-11T067BU2TFG6&JobFlowIds.member.4=j-18NGS0X75MXZS&JobFlowIds.member.5=j-UOB7G269XYIN&JobFlowIds.member.6=j-LYGPF7REF83Z&JobFlowIds.member.7=j-OWA17HFV8S8V&JobFlowIds.member.8=j-27VVCJZOUUGHF&JobFlowIds.member.9=j-5OJ3R3OFB797&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T00%3A45%3A35Z&Version=2009-03-31&Signature=HcbWD5W4%2FTX0TdKC1FEqdgRLCL940ZxBO9oSH%2BOy%2BSM%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 8b6f93ff-5380-11e1-b549-039ed8bc19ac
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>8b6f93ff-5380-11e1-b549-039ed8bc19ac</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 00:45:35 GMT
recorded_with: VCR 2.0.0.rc1
