--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T13%3A48%3A02-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T22%3A48%3A22Z&Version=2009-03-31&Signature=53cNjLQAleYDkM%2BmxOp5%2BXEAeZSEZE3Mo5LyU3FhvHk%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 2b1def1a-5370-11e1-8a32-d3fa11c85c80
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T22:48:00Z</CreationDateTime>
                <LastStateChangeReason>Starting instances</LastStateChangeReason>
                <State>STARTING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; pig</Name>
              <Steps/>
              <JobFlowId>j-DJXGGO0LDAVN</JobFlowId>
              <Instances>
                <Placement>
                  <AvailabilityZone>us-east-1a</AvailabilityZone>
                </Placement>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-09T22:48:00Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-3I5KPX3MEA353</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-09T22:48:00Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-1XFUO0MG2ESOA</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T22:47:38Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-09T22:48:06Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; pig</Name>
              <Steps/>
              <JobFlowId>j-1FQFYFOTL256K</JobFlowId>
              <Instances>
                <Placement>
                  <AvailabilityZone>us-east-1d</AvailabilityZone>
                </Placement>
   [...]
[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=RunJobFlow&AmiVersion=2.0&Instances.InstanceGroups.member.1.InstanceCount=1&Instances.InstanceGroups.member.1.InstanceRole=MASTER&Instances.InstanceGroups.member.1.InstanceType=m1.small&Instances.InstanceGroups.member.1.Market=ON_DEMAND&Instances.InstanceGroups.member.1.Name=Master%20group&Instances.InstanceGroups.member.2.InstanceCount=1&Instances.InstanceGroups.member.2.InstanceRole=CORE&Instances.InstanceGroups.member.2.InstanceType=c1.medium&Instances.InstanceGroups.member.2.Market=ON_DEMAND&Instances.InstanceGroups.member.2.Name=Compute%20group&Instances.KeepJobFlowAliveWhenNoSteps=true&Instances.TerminationProtected=false&Name=Managed%20Buzzoink%20process%20%3A%20Main%20EMR%20process%20type%20%3D%3E%20pig&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T22%3A48%3A25Z&Version=2009-03-31&Signature=3lebx2mHw7YgQtqapKsh9hdY5VrGC3c6uhStS%2FlkEMA%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 2d64d1e0-5370-11e1-8a32-d3fa11c85c80
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-FNKJ1RQV6A6H</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>2d64d1e0-5370-11e1-8a32-d3fa11c85c80</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Thu, 09 Feb 2012 22:48:26 GMT
[...]
