--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T17%3A52%3A34-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T01%3A57%3A41Z&Version=2009-03-31&Signature=ksjpKqpkSbdWORBymcAXek65OHzrSzWIrQGaxVRJc70%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 9d170893-538a-11e1-b6a7-99c0684871a6
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T01:57:37Z</CreationDateTime>
                <State>STARTING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; pig</Name>
              <Steps>
                <member>
                  <StepConfig>
                    <HadoopJarStep>
                      <Jar>s3://elasticmapreduce/libs/script-runner/script-runner.jar</Jar>
                      <Args>
                        <member>s3://elasticmapreduce/libs/pig/pig-script</member>
                        <member>--base-path</member>
                        <member>s3://elasticmapreduce/libs/pig/</member>
                        <member>--install-pig</member>
                      </Args>
                      <Properties/>
                    </HadoopJarStep>
                    <Name>Pig</Name>
                    <ActionOnFailure>TERMINATE_JOB_FLOW</ActionOnFailure>
                  </StepConfig>
                  <ExecutionStatusDetail>
                    <CreationDateTime>2012-02-10T01:57:39Z</CreationDateTime>
                    <State>PENDING</State>
                  </ExecutionStatusDetail>
                </member>
              </Steps>
              <JobFlowId>j-FGSF4G4G9ZZU</JobFlowId>
              <Instances>
                <Placement/>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-10T01:57:37Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-2PONAOWPH2K5C</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-10T01:57:37Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-2MYALUSSEOMEX</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T01:57:34Z</CreationDateTime>
                <State>STARTING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
           [...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=TerminateJobFlows&JobFlowIds.member.1=j-FGSF4G4G9ZZU&JobFlowIds.member.2=j-2JXUNA9WK6KDN&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T01%3A57%3A42Z&Version=2009-03-31&Signature=Zey25PPix8UfDspOokIlGSwEm4qLo7%2F7gu4r6InNN%2Bw%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 9d84e506-538a-11e1-93b5-3dd599b19e1a
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>9d84e506-538a-11e1-93b5-3dd599b19e1a</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 01:57:43 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T17%3A52%3A34-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T01%3A57%3A43Z&Version=2009-03-31&Signature=7%2B4mkjCQCjJH8fLOBtGaoLhgnWy8ONHEpUxrfIzuBFs%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 9de861b8-538a-11e1-82e8-7d6d389b2e5f
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T01:57:37Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>SHUTTING_DOWN</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; pig</Name>
              <Steps>
                <member>
                  <StepConfig>
                    <HadoopJarStep>
                      <Jar>s3://elasticmapreduce/libs[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=RunJobFlow&AmiVersion=2.0&Instances.InstanceGroups.member.1.InstanceCount=1&Instances.InstanceGroups.member.1.InstanceRole=MASTER&Instances.InstanceGroups.member.1.InstanceType=m1.small&Instances.InstanceGroups.member.1.Market=ON_DEMAND&Instances.InstanceGroups.member.1.Name=Master%20group&Instances.InstanceGroups.member.2.InstanceCount=1&Instances.InstanceGroups.member.2.InstanceRole=CORE&Instances.InstanceGroups.member.2.InstanceType=c1.medium&Instances.InstanceGroups.member.2.Market=ON_DEMAND&Instances.InstanceGroups.member.2.Name=Compute%20group&Instances.KeepJobFlowAliveWhenNoSteps=true&Instances.TerminationProtected=false&Name=Managed%20Buzzoink%20process%20%3A%20Main%20EMR%20process%20type%20%3D%3E%20pig&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T01%3A57%3A43Z&Version=2009-03-31&Signature=DToKrsvlFBYKvSbixZLo4f5Te6nLF%2FZo40VAcmnt%2B4w%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 9e546a88-538a-11e1-aa42-8f951ce45bb7
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-2K3DAZAG888HB</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>9e546a88-538a-11e1-aa42-8f951ce45bb7</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Fri, 10 Feb 2012 01:57:44 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=AddJobFlowSteps&JobFlowId=j-2K3DAZAG888HB&SignatureMethod=HmacSHA256&SignatureVersion=2&Steps.member.1.ActionOnFailure=TERMINATE_JOB_FLOW&Steps.member.1.HadoopJarStep.Args.member.1=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fpig%2Fpig-script&Steps.member.1.HadoopJarStep.Args.member.2=--base-path&Steps.member.1.HadoopJarStep.Args.member.3=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fpig%2F&Steps.member.1.HadoopJarStep.Args.member.4=--install-pig&Steps.member.1.HadoopJarStep.Jar=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fscript-runner%2Fscript-runner.jar&Steps.member.1.Name=Pig&Timestamp=2012-02-10T01%3A57%3A44Z&Version=2009-03-31&Signature=XErfBv11JQ8Ck0bAmLbArMA8NWWZ6MDUmcHxMAVQblM%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 9eb5eaeb-538a-11e1-82e8-7d6d389b2e5f
      Content-Type: 
      - text/xml
    body: |
      <AddJobFlowStepsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>9eb5eaeb-538a-11e1-82e8-7d6d389b2e5f</RequestId>
        </ResponseMetadata>
      </AddJobFlowStepsResponse>

  recorded_at: Fri, 10 Feb 2012 01:57:45 GMT
[...]
