--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T13%3A47%3A13-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T22%3A47%3A33Z&Version=2009-03-31&Signature=NwQgD4B9yQ9vdjfKdv45DbP%2FhjY%2BI8YpW%2B8Cm7Tw9XQ%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 0e4bd996-5370-11e1-8a32-d3fa11c85c80
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T22:47:12Z</CreationDateTime>
                <LastStateChangeReason>Starting instances</LastStateChangeReason>
                <State>STARTING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps/>
              <JobFlowId>j-1TAW8GT38CD96</JobFlowId>
              <Instances>
                <Placement>
                  <AvailabilityZone>us-east-1a</AvailabilityZone>
                </Placement>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-09T22:47:12Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-19F6ZRJ605N05</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-09T22:47:12Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-2OI85QL1P6G8M</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-09T22:46:47Z</CreationDateTime>
                <LastStateChangeReason>Terminated by user request</LastStateChangeReason>
                <State>TERMINATED</State>
                <EndDateTime>2012-02-09T22:46:54Z</EndDateTime>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps/>
              <JobFlowId>j-UM14CHDHYP4Y</JobFlowId>
              <Instances>
                <Placement/>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAli[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=TerminateJobFlows&JobFlowIds.member.1=j-1TAW8GT38CD96&JobFlowIds.member.10=j-VEWF5KEPZGWV&JobFlowIds.member.11=j-3MT4YCE71IF3S&JobFlowIds.member.12=j-1F8GT4ECAHC1V&JobFlowIds.member.13=j-3577G0GKVQH4L&JobFlowIds.member.14=j-2Q2MS6QLZIKQP&JobFlowIds.member.15=j-3I4UN0ODJHS2E&JobFlowIds.member.16=j-3V1OLO6IPXBAE&JobFlowIds.member.17=j-2MHSJYX6R7S3F&JobFlowIds.member.18=j-2PV2OSAD3W13A&JobFlowIds.member.19=j-2NZAO97NQE916&JobFlowIds.member.2=j-UM14CHDHYP4Y&JobFlowIds.member.20=j-MT46IOXFB08Z&JobFlowIds.member.21=j-1IKV5LIE3SW1V&JobFlowIds.member.22=j-K5IJYIJ600OP&JobFlowIds.member.23=j-3H0E60IQFX3O2&JobFlowIds.member.24=j-1685H2ITZSJRP&JobFlowIds.member.3=j-2SHPXIPN5O85O&JobFlowIds.member.4=j-6HSOEYDE3LFJ&JobFlowIds.member.5=j-2TL0UEBI84TX9&JobFlowIds.member.6=j-311CJVL89SOML&JobFlowIds.member.7=j-1CVPRJ2G19X9P&JobFlowIds.member.8=j-FSDLZD791ZAG&JobFlowIds.member.9=j-3VMWTLFEHMILD&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T22%3A47%3A34Z&Version=2009-03-31&Signature=PqN%2F4v5XgnrPB4ecI7PuPzVXyLYKYyZfmigtFrdIILQ%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 0ea76717-5370-11e1-8a32-d3fa11c85c80
      Content-Type: 
      - text/xml
    body: |
      <TerminateJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>0ea76717-5370-11e1-8a32-d3fa11c85c80</RequestId>
        </ResponseMetadata>
      </TerminateJobFlowsResponse>

  recorded_at: Thu, 09 Feb 2012 22:47:34 GMT
[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=RunJobFlow&AmiVersion=2.0&Instances.InstanceGroups.member.1.InstanceCount=1&Instances.InstanceGroups.member.1.InstanceRole=MASTER&Instances.InstanceGroups.member.1.InstanceType=m1.small&Instances.InstanceGroups.member.1.Market=ON_DEMAND&Instances.InstanceGroups.member.1.Name=Master%20group&Instances.InstanceGroups.member.2.InstanceCount=1&Instances.InstanceGroups.member.2.InstanceRole=CORE&Instances.InstanceGroups.member.2.InstanceType=c1.medium&Instances.InstanceGroups.member.2.Market=ON_DEMAND&Instances.InstanceGroups.member.2.Name=Compute%20group&Instances.KeepJobFlowAliveWhenNoSteps=true&Instances.TerminationProtected=false&Name=Managed%20Buzzoink%20process%20%3A%20Main%20EMR%20process%20type%20%3D%3E%20hive&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-09T22%3A47%3A35Z&Version=2009-03-31&Signature=m2%2FueNkdT7%2FXdHhcbyo0NbMmKLaskXI1kJv6P0E3ZmE%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 0f4c59f4-5370-11e1-94ec-03ff5ff5721a
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-YPX246L2AZFF</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>0f4c59f4-5370-11e1-94ec-03ff5ff5721a</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Thu, 09 Feb 2012 22:47:35 GMT
[...]
