--- 
http_interactions: 
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&CreatedAfter=2012-02-09T17%3A52%3A34-08%3A00&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T01%3A57%3A34Z&Version=2009-03-31&Signature=MgddR7Pdz8iGu9%2Fa7Ni8Gow0h6TOQpi5gUXBI%2BhJulo%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 9903547c-538a-11e1-93b5-3dd599b19e1a
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows/>
        </DescribeJobFlowsResult>
        <ResponseMetadata>
          <RequestId>9903547c-538a-11e1-93b5-3dd599b19e1a</RequestId>
        </ResponseMetadata>
      </DescribeJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 01:57:35 GMT
[...]
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=RunJobFlow&AmiVersion=2.0&Instances.InstanceGroups.member.1.InstanceCount=1&Instances.InstanceGroups.member.1.InstanceRole=MASTER&Instances.InstanceGroups.member.1.InstanceType=m1.small&Instances.InstanceGroups.member.1.Market=ON_DEMAND&Instances.InstanceGroups.member.1.Name=Master%20group&Instances.InstanceGroups.member.2.InstanceCount=1&Instances.InstanceGroups.member.2.InstanceRole=CORE&Instances.InstanceGroups.member.2.InstanceType=c1.medium&Instances.InstanceGroups.member.2.Market=ON_DEMAND&Instances.InstanceGroups.member.2.Name=Compute%20group&Instances.KeepJobFlowAliveWhenNoSteps=true&Instances.TerminationProtected=false&Name=Managed%20Buzzoink%20process%20%3A%20Main%20EMR%20process%20type%20%3D%3E%20hive&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T01%3A57%3A36Z&Version=2009-03-31&Signature=PJ3g1%2F%2B2iS%2F8HhK7Bi%2Bizl5Knd9aT5kiTz8U5eUU6aY%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 99ba6f71-538a-11e1-82e8-7d6d389b2e5f
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-2JXUNA9WK6KDN</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>99ba6f71-538a-11e1-82e8-7d6d389b2e5f</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Fri, 10 Feb 2012 01:57:36 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=AddJobFlowSteps&JobFlowId=j-2JXUNA9WK6KDN&SignatureMethod=HmacSHA256&SignatureVersion=2&Steps.member.1.ActionOnFailure=TERMINATE_JOB_FLOW&Steps.member.1.HadoopJarStep.Args.member.1=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2Fhive-script&Steps.member.1.HadoopJarStep.Args.member.2=--base-path&Steps.member.1.HadoopJarStep.Args.member.3=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fhive%2F&Steps.member.1.HadoopJarStep.Args.member.4=--install-hive&Steps.member.1.HadoopJarStep.Args.member.5=--hive-versions&Steps.member.1.HadoopJarStep.Args.member.6=0.7.1.1&Steps.member.1.HadoopJarStep.Jar=s3%3A%2F%2Felasticmapreduce%2Flibs%2Fscript-runner%2Fscript-runner.jar&Steps.member.1.Name=Hive&Timestamp=2012-02-10T01%3A57%3A36Z&Version=2009-03-31&Signature=Hwxu2JxNQxqpL%2B2gor6wrA3aOgGFKOBjd80XbE%2B%2FyXY%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 9a18e3bb-538a-11e1-aa97-9959c72600a0
      Content-Type: 
      - text/xml
    body: |
      <AddJobFlowStepsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <ResponseMetadata>
          <RequestId>9a18e3bb-538a-11e1-aa97-9959c72600a0</RequestId>
        </ResponseMetadata>
      </AddJobFlowStepsResponse>

  recorded_at: Fri, 10 Feb 2012 01:57:37 GMT
- request: 
    method: post
    uri: https://elasticmapreduce.amazonaws.com/
    body: AWSAccessKeyId=accesskey&Action=DescribeJobFlows&JobFlowIds.member.1=j-2JXUNA9WK6KDN&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2012-02-10T01%3A57%3A37Z&Version=2009-03-31&Signature=wfYT7XhU0T%2FCwEDuANM%2FYRswkap%2Bc5OpZPfjL2C4R6M%3D
    headers: 
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: 
    headers: 
      x-amzn-RequestId: 
      - 9a80a631-538a-11e1-aa42-8f951ce45bb7
      Content-Type: 
      - text/xml
    body: |
      <DescribeJobFlowsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <DescribeJobFlowsResult>
          <JobFlows>
            <member>
              <ExecutionStatusDetail>
                <CreationDateTime>2012-02-10T01:57:34Z</CreationDateTime>
                <State>STARTING</State>
              </ExecutionStatusDetail>
              <AmiVersion>2.0</AmiVersion>
              <BootstrapActions/>
              <SupportedProducts/>
              <Name>Managed Buzzoink process : Main EMR process type =&gt; hive</Name>
              <Steps>
                <member>
                  <StepConfig>
                    <HadoopJarStep>
                      <Jar>s3://elasticmapreduce/libs/script-runner/script-runner.jar</Jar>
                      <Args>
                        <member>s3://elasticmapreduce/libs/hive/hive-script</member>
                        <member>--base-path</member>
                        <member>s3://elasticmapreduce/libs/hive/</member>
                        <member>--install-hive</member>
                        <member>--hive-versions</member>
                        <member>0.7.1.1</member>
                      </Args>
                      <Properties/>
                    </HadoopJarStep>
                    <Name>Hive</Name>
                    <ActionOnFailure>TERMINATE_JOB_FLOW</ActionOnFailure>
                  </StepConfig>
                  <ExecutionStatusDetail>
                    <CreationDateTime>2012-02-10T01:57:35Z</CreationDateTime>
                    <State>PENDING</State>
                  </ExecutionStatusDetail>
                </member>
              </Steps>
              <JobFlowId>j-2JXUNA9WK6KDN</JobFlowId>
              <Instances>
                <Placement/>
                <MasterInstanceType>m1.small</MasterInstanceType>
                <KeepJobFlowAliveWhenNoSteps>true</KeepJobFlowAliveWhenNoSteps>
                <SlaveInstanceType>c1.medium</SlaveInstanceType>
                <InstanceGroups>
                  <member>
                    <CreationDateTime>2012-02-10T01:57:34Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>m1.small</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>MASTER</InstanceRole>
                    <InstanceGroupId>ig-XI21IETIXM5D</InstanceGroupId>
                    <Name>Master group</Name>
                  </member>
                  <member>
                    <CreationDateTime>2012-02-10T01:57:34Z</CreationDateTime>
                    <InstanceRunningCount>0</InstanceRunningCount>
                    <State>PROVISIONING</State>
                    <InstanceRequestCount>1</InstanceRequestCount>
                    <InstanceType>c1.medium</InstanceType>
                    <Market>ON_DEMAND</Market>
                    <LastStateChangeReason/>
                    <InstanceRole>CORE</InstanceRole>
                    <InstanceGroupId>ig-35MH7VOOX3GBC</InstanceGroupId>
                    <Name>Compute group</Name>
                  </member>
                </InstanceGroups>
                <NormalizedInstanceHours>0</NormalizedInstanceHours>
                <HadoopVersion>0.20.205</HadoopVersion>
                <InstanceCount>2</InstanceCount>
                <TerminationProtected>false</TerminationProtected>
              </Instances>
            </member>
          </JobFlows>
        </DescribeJobFlowsResult>
        <ResponseMetadata>
          <RequestId>9a80a631-538a-11e1-aa42-8f951ce45bb7</RequestId>
        </ResponseMetadata>
      </DescribeJobFlowsResponse>

  recorded_at: Fri, 10 Feb 2012 01:57:38 GMT
[...]
